@import "bootstrap";

body {
    scroll-behavior: smooth;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    margin: 0;
}

.main-container {
    max-width: 1300px;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.main-title {
    font-size: 52px;
    text-decoration: underline;
}

.fixed-background {
    background-color: rgb(131, 156, 181);
    position: fixed;
    z-index: -1;
}

.main-project {
    border-radius: 50px;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-top: 70vh;
}

.all-content {
    background-color: rgb(232, 231, 231); 
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    opacity: 0.5;
    margin-top: 30px;
}

.lop-pic {
    object-position: 2% 50%;
}
.lop-pic2 {
    object-position: 80% 50%;
}
.lop-pic3 {
    object-position: 96% 50%;
}

.potify-pic {
    object-position: 2% 50%;
}

.dna-pic {
    object-position: 22% 50%;
}

.biome {
    object-position: 99% 50%;
}
.biome2 {
    object-position: 0% 50%;
}

.js-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
}

.js-projects-title {
    text-decoration: underline;
}

.divider {
    height: 2px;
    border-radius: 5px;
    background-color: rgb(131, 156, 181);
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px !important;
}


@media only screen and (max-width: 600px) {

    .main-project {
        border-radius: 12px;
        overflow: hidden;
        z-index: 1;
        display: flex;
        justify-content: center;
        margin-top: 50vh;
    }

    .icons {
        display: flex;
        opacity: 0.5;
        margin-top: 30px;
        width: 20px;
        height: 20px;
        object-fit: cover;
        margin-right: 20px;
    }

}