@import "bootstrap";

body {
    scroll-behavior: smooth;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    margin: 0;
}

.main-container {
    max-width: 1200px;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.fixed-background {
    background-color: rgb(131, 156, 181);
    position: fixed;
    z-index: -1;
}

.main-project {
    border-radius: 50px;
    overflow: hidden;
    background-color: aliceblue;
    z-index: 1;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    justify-content: center;
    margin-top: 75vh;

}

.all-content {
    
    
}

.project-container {
    
    background-color: rgb(232, 231, 231);   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    opacity: 0.5;
}

.lop-pic {
    object-position: 7% 50%;
}
