<div class="bg-light column col-sm-12 col-lg-6">
    <div class="p-2 column col-sm-12 col-lg-6">
      <img src="images/clock.jpg" class=""style="width: 100%; height: 100px; object-fit: cover;"alt="js-clock">
    </div>
    <div class="d-flex flex-column column col-sm-12 col-lg-6 justify-content-center p-2">
      <div class="w-100">
        <h3>
          Nice Little Calculator
        </h3>
        <h5 class="text-danger">
          Stimulus App
        </h5>
        <br>
        <p>
          You have to admit it looks pretty nice.
        </p>
        <div class="icons">
          <img src="images/js.svg" style="width: 40px; height: 40px; object-fit: cover; margin-right: 12px" alt="">
          <img src="images/html.svg" style="width: 40px; height: 40px; object-fit: cover; margin-right: 12px" alt="">
          <img src="images/css.svg" style="width: 40px; height: 40px; object-fit: cover; margin-right: 12px" alt="">
          <img src="images/github.svg" style="width: 40px; height: 40px; margin-right: 12px; margin-bottom: 4px;" alt="">
        </div>
        <div class="links">
          <a href="https://lostonpurpose.github.io/analog_clock/" target="_blank" class="me-2">View Site</a>
          <a href="https://github.com/lostonpurpose/analog_clock/blob/master/index.html" target="_blank" class="ms-2">See Code</a>
        </div>
      </div>
    </div>
</div>
