<div class="d-flex bg-light">
    <div class="flex-image p-5">
      <img src="images/clock.jpg" class=""style="width: 600px; height: 450px; object-fit: cover;"alt="js-clock">
    </div>
    <div class="clock-details d-flex flex-column justify-content-center p-5">
      <h3>
        Analogue Clock
      </h3>
      <h5 class="text-danger">
        JavaScript App
      </h5>
      <br>
      <p>
        A stunningly gorgous analogue clock with a realistic second hand tick. Built with vanilla JS.
      </p>
      <div class="icons">
        <img src="images/js.svg" style="width: 40px; height: 40px; object-fit: cover; margin-right: 12px" alt="">
        <img src="images/html.svg" style="width: 40px; height: 40px; object-fit: cover; margin-right: 12px" alt="">
        <img src="images/css.svg" style="width: 40px; height: 40px; object-fit: cover; margin-right: 12px" alt="">
        <img src="images/github.svg" style="width: 40px; height: 40px; margin-right: 12px; margin-bottom: 4px;" alt="">
      </div>
      <div class="links">
        <a href="https://lostonpurpose.github.io/analog_clock/" target="_blank" class="me-2">View Site</a>
        <a href="https://github.com/lostonpurpose/analog_clock/blob/master/index.html" target="_blank" class="ms-2">See Code</a>
      </div>
    </div>
</div>
