<div class="bg-light row py-5">
  <div class="p-5 column col-sm-12 col-lg-6">
    <!-- <img src="images/potify.jpg" class="lop-pic" style="width: 100%; height: 450px; object-fit: cover;"alt="potify"> -->
     <!-- Slideshow container -->
    <div class="slideshow-container">

      <!-- Full-width images with number and caption text -->
      <div class="mySlides2 fade">
        <img src="images/potify.jpg" style="width:100%; height: 400px; object-fit: cover;" alt="potify" class="potify-pic">
      </div>

      <div class="mySlides2 fade">
        <img src="images/pot2.jpg" style="width:100%; height: 400px; object-fit: cover;" alt="potify" class="potify-pic">
      </div>

      <div class="mySlides2 fade">
        <img src="images/pot3.jpg" style="width:100%; height: 400px; object-fit: cover;" alt="potify" class="potify-pic">
      </div>

      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
    </div>
    <br>

    <!-- END OF SLIDESHOW -->

  </div>
  <div class="d-flex flex-column justify-content-center p-5 column col-sm-12 col-lg-6">
    <div class="w-100">
      <h3>
        Potify
      </h3>
      <h5 class="text-danger">
        Rails App
      </h5>
      <br>
      <p>
        A fun rails project featuring rentable toilets a la Airbnb. Need to go? Potify has your back(side). Full-featured site with a reservation system, payments, location mapping, profile creation and ability to upload your own toilets to rent out. My primary responsibilities were front end, design concept, routing and and myriad back end functionality.
      </p>
      <div class="icons">
        <img src="images/ruby.svg" style="width: 40px; height: 40px; object-fit: cover; margin-right: 12px" alt="">
        <img src="images/rails.svg" style="width: 40px; height: 40px; object-fit: cover; margin-right: 12px" alt="">
        <img src="images/js.svg" style="width: 40px; height: 40px; object-fit: cover; margin-right: 12px" alt="">
        <img src="images/html.svg" style="width: 40px; height: 40px; object-fit: cover; margin-right: 12px" alt="">
        <img src="images/css.svg" style="width: 40px; height: 40px; object-fit: cover; margin-right: 12px" alt="">
        <img src="images/github.svg" style="width: 40px; height: 40px; margin-right: 12px; margin-bottom: 4px;" alt="">
      </div>
      <div class="links">
        <a href="https://potify-9fffc7477e26.herokuapp.com/" target="_blank" class="me-2">View Site</a>
        <a href="https://github.com/YukinagaS/potify" target="_blank" class="ms-2">See Code</a>
      </div>
    </div>
  </div>
  <div class="divider column col-sm-12"></div>
</div>
