.banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    height: 600px;
    width: 100%;
    background-position: 18% 52%;
    background-size: 52%;
    background-repeat: no-repeat;
  }

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 72px;
  margin-top: 0px;
  margin-left: 42%;
}

.banner p {
  font-size: 40px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  margin-left: 42%;

}


@media only screen and (max-width: 600px) {

  .banner {
    background-size: cover;
    background-position: 75% -20% !important;
    padding: 150px 0;
    height: 800px;
    width: 500px;
    background-position: 50% 43%;
    background-size: 85%;
    background-repeat: no-repeat;
  }

  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 42px;
    margin-top: 0px;
    margin-left: 0%;
    padding-top: 20%;
  }
  
  .banner p {
    font-size: 22px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    margin-left: 0%;
  
  }
}
